<div class="modal-header">
    <h4 class="modal-title">
        <span class="glyphicon glyphicon-earphone"></span> Calling {{ctrl.phoneNumber}}
    </h4>
</div>
<div class="modal-body">
    <img src="img/phone-ringing.gif" width="150" height="150" class="centered">
</div>
<div class="modal-footer">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4 center-block nopadding">
            <button ng-click="ctrl.close();" class="btn btn-danger center-block">
                Hang up
            </button>
        </div>  
</div>
