<div ng-controller="ComposeCtrl as ctrl" class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading">To: {{ ctrl.contact.name }}</div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="comment">Message:</label>
                    <textarea ng-model="ctrl.message" class="form-control" rows="5" placeholder="Type message"></textarea>
                </div>
                <p>
                    <div class="btn-toolbar pull-right">
                        <button ng-click="ctrl.cancel()" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        <button ng-click="ctrl.send()" class="btn btn-default">
                            <span class="glyphicon glyphicon-send"></span> Send
                        </button>
                    </div>
                </p>
            </form>
        </div>
    </div>

</div>