<div ng-controller="FormCtrl as ctrl" class="container">
    
    <div class="panel panel-default">
        <div class="panel-heading">Contact</div>
        <div class="panel-body">
            <form>
                <div class="input-group">
                    <span class="input-group-addon">Name</span>
                    <input ng-model="ctrl.contact.name" class="form-control" placeholder="John Doe">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Organization</span>
                    <input ng-model="ctrl.contact.organization" class="form-control" placeholder="ACME">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Landline</span>
                    <input ng-model="ctrl.contact.landline" class="form-control" placeholder="01632 960765">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Mobile</span>
                    <input ng-model="ctrl.contact.mobile" class="form-control" placeholder="07700 900244">
                </div>
                <br/>
                <div class="input-group">
                    <span class="input-group-addon">Avatar</span>
                    <input ng-model="ctrl.contact.avatar" class="form-control" placeholder="http://...">
                </div>
                <p>
                    <div class="btn-toolbar pull-right">
                        <button ng-click="ctrl.cancel()" class="btn btn-default">
                            <span class="glyphicon glyphicon-remove"></span> Cancel
                        </button>
                        <button ng-click="ctrl.saveContact()" class="btn btn-default">
                            <span class="glyphicon glyphicon-ok"></span> Save
                        </button>
                    </div>
                </p>
            </form>
        </div>
    </div>

</div>