<div ng-controller="MainCtrl as ctrl" class="container">

    <!-- Alerts -->
    <div class="alert alert-success alert-dismissable" ng-if="ctrl.successMessage">
        <a href="#" class="close" aria-label="close" ng-click="ctrl.hideSuccessMessage()">&times;</a>
        <strong>Success!</strong> {{ctrl.successMessage}}.
    </div>
    <div class="alert alert-danger alert-dismissable" ng-if="ctrl.errorMessage">
        <a href="#" class="close" aria-label="close" ng-click="ctrl.hideErrorMessage()">&times;</a>
        <strong>Error!</strong> {{ctrl.errorMessage}}.
    </div>
    
    <!-- Search Bar -->
    <p>
        <input ng-model="ctrl.filter" ng-change="ctrl.filterContacts()" type="text" class="form-control" placeholder="Search">
    </p>

    <!-- Contacts List -->
    <p>
        <div class="list-group">
            <a ng-repeat="c in ctrl.filteredContacts" data-toggle="collapse"  data-target="#phoneNumbers{{$index}}" class="list-group-item">
                <div id="basicInformation">
                    <div style="float:left;">
                        <div style="float:left;padding-right:10px;">
                            <img ng-src="{{c.avatar}}" ng-hide="{{c.avatar == null}}" class="img-circle" alt="Cinque Terre" width="50" height="50"></img>
                            <img ng-src="img/generic-avatar.png" ng-show="{{c.avatar == null}}" class="img-circle" alt="Cinque Terre" width="50" height="50"></img>
                        </div>
                        <div style="float:right;">
                            <h4 class="list-group-item-heading">{{ c.name  }}</h4>
                            <p class="list-group-item-text">{{ c.organization }}</p>
                        </div>
                    </div>
                    <div>
                        <div class="btn-toolbar">
                            <button ng-click="ctrl.editContact(c); $event.stopPropagation();" class="btn btn-default btn-sm pull-right">
                                <span class="glyphicon glyphicon-pencil"></span> Edit 
                            </button>
                            <button ng-click="ctrl.removeContact(c)" class="btn btn-default btn-sm pull-right">
                                <span class="glyphicon glyphicon-trash"></span> Remove 
                            </button>
                        </div>
                    </div>
                </div>
                <div id="phoneNumbers{{$index}}" class="panel-collapse collapse">
                    <br/>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div style="float:left;">
                                <span class="glyphicon glyphicon-phone-alt"></span>
                                <b>Landline:</b> {{c.landline}}
                            </div>
                            <div class="btn-toolbar">
                                <button ng-click="ctrl.call(c.landline); $event.stopPropagation();" class="btn btn-xs btn-default pull-right">
                                    <span class="glyphicon glyphicon-earphone"></span>&nbsp;
                                </button>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div style="float:left;">
                                <span class="glyphicon glyphicon-phone"></span>
                                <b>Mobile:</b> {{c.mobile}}
                            </div>
                            <div class="btn-toolbar">
                                <button ng-click="ctrl.text(c); $event.stopPropagation();" class="btn btn-xs btn-default pull-right">
                                    <span class="glyphicon glyphicon-envelope"></span>&nbsp;
                                </button>
                                <button ng-click="ctrl.call(c.mobile); $event.stopPropagation();" class="btn btn-xs btn-default pull-right">
                                    <span class="glyphicon glyphicon-earphone"></span>&nbsp;
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </a>
        </div>
    </p>

    <!-- Add Contact Button -->
    <p>
        <div class="btn-toolbar pull-right">
            <button ng-click="ctrl.createContact()" type="button" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> Add Contact
            </button>
        </div>
    </p>

</div>